<div class="container">
    <h1 class="page-title">History</h1>
    <div>
        <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Pokemon I</th>
                <th>Pokemon II</th>
                <th>Winner</th>
                <th>Battle Date</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <% @histories.each_with_index do |history, index| %>
            <tr>
                <td><%= index+1%></td>

                <% if history.pokemon_i.is_delete == true %>
                    <td class= "background-red"><%= history.pokemon_i.name%></td>
                <% else %>
                    <td><%= history.pokemon_i.name%></td>
                <% end %>

                <% if history.pokemon_ii.is_delete == true %>
                    <td class= "background-red"><%= history.pokemon_ii.name%></td>
                <% else %>
                    <td><%= history.pokemon_ii.name%></td>
                <% end %>

                <% if history.winner == nil %>
                    <td>-</td>
                <% else %>
                    <td><%= history.winner.name%></td>
                <% end %>
                <td><%= history.battle_date%></td>
                <td>
                    <div>
                        <%= link_to 'Show', history_path(history) %>
                    </div>
                </td>
            </tr>
            <% end %>
        </tbody>
        </table>
    </div>
</div>