<div class="container">
    <h1 class="page-title">History Detail</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Attacker</th>
                    <th>Skill Name</th>
                    <th>Message</th>
                    <th>Demage</th>
                    <th>Enemy Hp</th>
                </tr>
            </thead>
            <tbody>
                <% @histories.each_with_index do |history, index| %>
                <tr>
                    <td><%= index+1%></td>
                    <td><%= history.pokemon.name%></td>
                    <td><%= history.skill.name%></td>
                    <td><%= history.message%></td>
                    <td><%= history.damage%></td>
                    <td><%= history.enemy_hp%></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>