<div class="container">
    <h1 class="page-title">Battles</h1>
    <div class = "mb-10">
        <%= link_to '+ Create', new_battle_path, class: "btn btn-create mb-5 p-5"%>
    </div>
    <div>
        <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Pokemon I</th>
                <th>Pokemon II</th>
                <th>Winner</th>
                <th>Status</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <% @battles.each_with_index do |battle, index| %>
            <tr>
                <td><%= index+1%></td>
                <td><%= battle.pokemon_i.name%></td>
                <td><%= battle.pokemon_ii.name%></td>
                <% if battle.winner == nil %>
                    <td>-</td>
                <% else %>
                    <td><%= battle.winner.name%></td>
                <% end %>
                <td><%= battle.status%></td>
                <td>
                    <div>
                        <%= link_to 'Delete', battle_path(battle), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                        } %>
                    </div>
                    <div>
                        <%= link_to 'Show', battle %>
                    </div>
                </td>
            </tr>
            <% end %>
        </tbody>
        </table>
    </div>
</div>