<div class="container mx-auto mt-24 w-full px-2 sm:px-4 py-4">
    <h1 class="text-3xl font-bold py-12">Battles</h1>
    <div class="flex justify-between">

        <%# Pokemon I %>
        <div class="basis-4/12 space-y-5">
            <div class="text-center">
                <h1 class ="text-center text-6xl font-bold mb-5"><%= @battle.pokemon_i.name%></h1>
            </div>
            <div class ="flex flex-row justify-between">
                <div class = "basis-1/6 xl:basis-1/12">
                    <h1 class = "text-2xl font-semibold">Hp :</h1>
                </div>
                <div class="basis-5/6 xl:basis-11/12">
                    <div class=" relative w-full h-8 bg-gray-300 rounded-md ">
                        <% if @battle.status == "End" && @battle.game_over ==true && @battle.winner_id == @pokemon_ii.id %>
                            <div class="h-8 bg-green-600 rounded-md" style="width: 0%"></div>
                            <div class= "absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white">
                                0 / <%= @pokemon_i.pokemon_max_hp%>
                            </div>
                        <% else%>
                            <div class="h-8 bg-green-600 rounded-md" style="width: 100%"></div>
                            <div class= "absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white">
                                <%= @pokemon_i.pokemon_hp%> / <%= @pokemon_i.pokemon_max_hp%>
                            </div>
                        <% end %>   
                    </div>
                </div>
            </div>
            <div class = "w-full h-fit bg-white box-border p-3 shadow-md rounded-md">
                <%= image_tag @pokemon_i.pokedex.image, class: "bg-gray-300 box-border p-5 rounded-md" %>
                <div class="flex justify-between items-center px-3 py-5">
                    <h1 class="text-2xl font-semibold">Level : <%= @pokemon_i.level%></h1>
                    <div class="flex space-x-3 text-white">
                        <% if @pokemon_i.pokedex.element_1 == "Fire" %>
                            <h1 class="bg-red-500 rounded-md w-20 text-center font-semibold py-1"><%= @pokemon_i.pokedex.element_1%></h1>
                        <% elsif @pokemon_i.pokedex.element_1 == "Water" %>
                            <h1 class="bg-blue-500 rounded-md w-20 text-center font-semibold py-1"><%= @pokemon_i.pokedex.element_1%></h1>
                        <% elsif @pokemon_i.pokedex.element_1 == "Grass" %>
                            <h1 class="bg-green-500 rounded-md w-20 text-center font-semibold py-1"><%= @pokemon_i.pokedex.element_1%></h1>
                        <% elsif @pokemon_i.pokedex.element_1 == "Normal" %>
                            <h1 class="bg-gray-500 rounded-md w-20 text-center font-semibold py-1"><%= @pokemon_i.pokedex.element_1%></h1>
                        <% end %>
                        <% if @pokemon_i.pokedex.element_2 != nil %>
                            <% if @pokemon_i.pokedex.element_2 == "Fire" %>
                                <h1 class="bg-red-500 rounded-md w-20 text-center font-semibold py-1"><%= @pokemon_i.pokedex.element_2%></h1>
                            <% elsif @pokemon_i.pokedex.element_2 == "Water" %>
                                <h1 class="bg-blue-500 rounded-md w-20 text-center font-semibold py-1"><%= @pokemon_i.pokedex.element_2%></h1>
                            <% elsif @pokemon_i.pokedex.element_2 == "Grass" %>
                                <h1 class="bg-green-500 rounded-md w-20 text-center font-semibold py-1"><%= @pokemon_i.pokedex.element_2%></h1>
                            <% elsif @pokemon_i.pokedex.element_2 == "Normal" %>
                                <h1 class="bg-gray-500 rounded-md w-20 text-center font-semibold py-1"><%= @pokemon_i.pokedex.element_2%></h1>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
            <% if @battle.status != "End" && @battle.change_skill == false%>
                <% if @battle.current_attacker_id == @pokemon_i.id %>
                    <div>
                        <h2 class="text-2xl font-semibold">Skill</h2>
                        <div class="relative overflow-x-auto shadow-md mb-5">
                            <table class="w-full border-separate text-sm rounded-md  text-left text-gray-800">
                                <thead class ="text-xs text-gray-700 uppercase bg-gray-400">
                                    <tr>
                                        <th scope="col" class="border border-slate-300 px-6 py-3 rounded-tl-md">No</th>
                                        <th scope="col" class="border border-slate-300 px-6 py-3">Skill Name</th>
                                        <th scope="col" class="border border-slate-300 px-6 py-3">PP</th>
                                        <th scope="col" class="border border-slate-300 px-6 py-3 rounded-tr-md"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @pokemon_i_skills.each_with_index do |pokemon_i_skill, index| %>
                                        <t>
                                            <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"><%= index+1 %></td>
                                            <td class = "px-6 py-4"><%= pokemon_i_skill.skill.name %></td>
                                            <td class = "px-6 py-4"><%= pokemon_i_skill.last_pp%> / <%= pokemon_i_skill.skill.pp %></td>
                                            <td class = "px-6 py-4"><%= render 'attack', pokemon_i_skill: pokemon_i_skill%></td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <% end %>
            <% elsif  @battle.status == "End" && @battle.winner_id == @battle.pokemon_i_id  && @battle.change_skill == false %>
                <div>
                    <div class="flex mb-5">
                        <p class="width-fit pokemon-exp-label">exp: 
                        </p>    
                        <p class="pokemon-exp">
                            <%= @pokemon_i.pokemon_exp%> / <%= @pokemon_i.pokemon_max_exp%>
                        </p>
                    </div>
                    <h2>Stats</h2>
                    <div class="stats">
                        <div class="flex justify-space-between">
                            <p>Attack</p>
                            <p><%= @battle.pokemon_i.pokemon_attack%></p>
                        </div>
                        <div class="flex justify-space-between">
                            <p>Defence</p>
                            <p><%= @battle.pokemon_i.pokemon_defence%></p>
                        </div>
                        <div class="flex justify-space-between">
                            <p>Speed</p>
                            <p><%= @battle.pokemon_i.pokemon_speed%></p>
                        </div>
                        <div class="flex justify-space-between">
                            <p>Special</p>
                            <p><%= @battle.pokemon_i.pokemon_special%></p>
                        </div>
                    </div>
                </div>
                <div>
                    <h2 class="text-2xl font-semibold">Skill</h2>
                    <div class="relative overflow-x-auto shadow-md rounded-md mb-5">
                        <table class="w-full border-separate text-sm text-left text-gray-800">
                            <thead class ="text-xs text-gray-700 uppercase bg-gray-400">
                                <tr>
                                    <th scope="col" class="border border-slate-300 px-6 py-3 rounded-tl-md">No</th>
                                    <th scope="col" class="border border-slate-300 px-6 py-3">Skill Name</th>
                                    <th scope="col" class="border border-slate-300 px-6 py-3 rounded-tr-md">PP</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @pokemon_i_skills.each_with_index do |pokemon_i_skill, index| %>
                                    <% if index%2==0 %>
                                        <tr class = "bg-white">
                                            <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"><%= index+1 %></td>
                                            <td class = "px-6 py-4"><%= pokemon_i_skill.skill.name %></td>
                                            <td class = "px-6 py-4"><%= pokemon_i_skill.last_pp%> / <%= pokemon_i_skill.skill.pp %></td>
                                        </tr>
                                    <% else %>
                                        <tr class = "bg-gray-100">
                                            <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"><%= index+1 %></td>
                                            <td class = "px-6 py-4"><%= pokemon_i_skill.skill.name %></td>
                                            <td class = "px-6 py-4"><%= pokemon_i_skill.last_pp%> / <%= pokemon_i_skill.skill.pp %></td>
                                        </tr>
                                    <% end %>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
                    
            <% elsif @battle.status == "End" && @battle.change_skill == true%>
                <% if @battle.winner_id == @pokemon_i.id  %>
                    <div>
                        <h2 class="text-2xl font-semibold">Skill</h2>
                        <div class="relative overflow-x-auto shadow-md rounded-md mb-5">
                            <table class="w-full border-separate text-sm text-left text-gray-800">
                                <thead class ="text-xs text-gray-700 uppercase bg-gray-400">
                                    <tr>
                                        <th scope="col" class="border border-slate-300 px-6 py-3 rounded-tl-md">No</th>
                                        <th scope="col" class="border border-slate-300 px-6 py-3">Skill Name</th>
                                        <th scope="col" class="border border-slate-300 px-6 py-3">PP</th>
                                        <th scope="col" class="border border-slate-300 px-6 py-3 rounded-tr-md"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @pokemon_i_skills.each_with_index do |pokemon_i_skill, index| %>
                                        <% if index%2==0 %>
                                            <tr class = "bg-white">
                                                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"><%= index+1 %></td>
                                                <td class = "px-6 py-4"><%= pokemon_i_skill.skill.name %></td>
                                                <td class = "px-6 py-4"><%= pokemon_i_skill.last_pp%> / <%= pokemon_i_skill.skill.pp %></td>
                                                <td class = "px-6 py-4"><%= render 'change', pokemon_i_skill: pokemon_i_skill%></td>
                                            </tr>
                                        <% else %>
                                            <tr class = "bg-gray-100">
                                                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"><%= index+1 %></td>
                                                <td class = "px-6 py-4"><%= pokemon_i_skill.skill.name %></td>
                                                <td class = "px-6 py-4"><%= pokemon_i_skill.last_pp%> / <%= pokemon_i_skill.skill.pp %></td>
                                                <td class = "px-6 py-4"><%= render 'change', pokemon_i_skill: pokemon_i_skill%></td>
                                            </tr>
                                        <% end %>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>

        <%# V/S %>
        <div class="flex justify-center flex-col">
                <h1 class="text-center">V/S</h1>    
                <% if @battle.status == "End" %>
                    <h3>Game Over</h3>
                    <h3><%= @battle.winner.name%> Win</h3>
                    <%= link_to 'Exit', battles_path %>
                    <% if @battle.get_new_skill ==true && @battle.change_skill == false %>
                        <% if  @battle.winner.pokemon_skills.count >= 4%>
                            <h1>
                            <%= @battle.skill.name%>
                            </h1>
                            <%= link_to 'Change Skill', change_skill_state_battle_path(@battle),
                                data: { turbo_method: :post, turbo_confirm: "Are u sure to change skill?"}
                            %>
                            <%= link_to 'Dont Change', dont_change_or_add_skill_state_battle_path(@battle),
                                data: { turbo_method: :post, turbo_confirm: "Are u sure don't want to change skill?"}
                            %>
                        <% end %>
                    <% end %>
                <% end %>
        </div>

        <%# Poekmon II  %>
        <div class ="basis-4/12 space-y-5">
            <div class="text-center">
                <h1 class ="text-center text-6xl font-bold mb-5"><%= @battle.pokemon_ii.name%></h1>
            </div>
            <div class ="flex flex-row justify-between">
                <div class = "basis-1/6 xl:basis-1/12">
                    <h1 class = "text-2xl font-semibold">Hp :</h1>
                </div>
                <div class="basis-5/6 xl:basis-11/12">
                    <div class=" relative w-full h-8 bg-gray-300 rounded-md ">
                        <% if @battle.status == "End" && @battle.game_over ==true && @battle.winner_id == @pokemon_i.id %>
                            <div class="h-8 bg-green-600 rounded-md" style="width: 0%"></div>
                            <div class= "absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white">
                                0 / <%= @pokemon_ii.pokemon_max_hp%>
                            </div>
                        <% else%>
                            <div class="h-8 bg-green-600 rounded-md" style="width: 100%"></div>
                            <div class= "absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white">
                                <%= @pokemon_ii.pokemon_hp%> / <%= @pokemon_ii.pokemon_max_hp%>
                            </div>
                        <% end %>   
                    </div>
                </div>
            </div>
            <div class = "w-full h-fit bg-white box-border p-3 shadow-md rounded-md">
                <%= image_tag @pokemon_ii.pokedex.image, class: "bg-gray-300 box-border p-5 rounded-md" %>
                <div class="flex justify-between items-center px-3 py-5">
                    <h1 class="text-2xl font-semibold">Level : <%= @pokemon_ii.level%></h1>
                    <div class="flex space-x-3 text-white">
                        <% if @pokemon_ii.pokedex.element_1 == "Fire" %>
                            <h1 class="bg-red-500 rounded-md w-20 text-center font-semibold py-1"><%= @pokemon_ii.pokedex.element_1%></h1>
                        <% elsif @pokemon_ii.pokedex.element_1 == "Water" %>
                            <h1 class="bg-blue-500 rounded-md w-20 text-center font-semibold py-1"><%= @pokemon_ii.pokedex.element_1%></h1>
                        <% elsif @pokemon_ii.pokedex.element_1 == "Grass" %>
                            <h1 class="bg-green-500 rounded-md w-20 text-center font-semibold py-1"><%= @pokemon_ii.pokedex.element_1%></h1>
                        <% elsif @pokemon_ii.pokedex.element_1 == "Normal" %>
                            <h1 class="bg-gray-500 rounded-md w-20 text-center font-semibold py-1"><%= @pokemon_ii.pokedex.element_1%></h1>
                        <% end %>
                        <% if @pokemon_ii.pokedex.element_2 != nil %>
                            <% if @pokemon_ii.pokedex.element_2 == "Fire" %>
                                <h1 class="bg-red-500 rounded-md w-20 text-center font-semibold py-1"><%= @pokemon_ii.pokedex.element_2%></h1>
                            <% elsif @pokemon_ii.pokedex.element_2 == "Water" %>
                                <h1 class="bg-blue-500 rounded-md w-20 text-center font-semibold py-1"><%= @pokemon_ii.pokedex.element_2%></h1>
                            <% elsif @pokemon_ii.pokedex.element_2 == "Grass" %>
                                <h1 class="bg-green-500 rounded-md w-20 text-center font-semibold py-1"><%= @pokemon_ii.pokedex.element_2%></h1>
                            <% elsif @pokemon_ii.pokedex.element_2 == "Normal" %>
                                <h1 class="bg-gray-500 rounded-md w-20 text-center font-semibold py-1"><%= @pokemon_ii.pokedex.element_2%></h1>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
            <% if @battle.status != "End" && @battle.change_skill == false %>
                <% if @battle.current_attacker_id == @pokemon_ii.id %>
                    <div>
                        <h2 class="text-2xl font-semibold">Skill</h2>
                        <div class="relative overflow-x-auto shadow-md rounded-md mb-5">
                            <table class="w-full border-separate text-sm text-left text-gray-800">
                                <thead class ="text-xs text-gray-700 uppercase bg-gray-400">
                                    <tr>
                                        <th scope="col" class="border border-slate-300 px-6 py-3 rounded-tl-md">No</th>
                                        <th scope="col" class="border border-slate-300 px-6 py-3">Skill Name</th>
                                        <th scope="col" class="border border-slate-300 px-6 py-3">PP</th>
                                        <th scope="col" class="border border-slate-300 px-6 py-3 rounded-tr-md"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @pokemon_ii_skills.each_with_index do |pokemon_ii_skill, index| %>
                                        <% if index%2==0 %>
                                            <tr class = "bg-white">
                                                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"><%= index+1 %></td>
                                                <td class = "px-6 py-4"><%= pokemon_ii_skill.skill.name %></td>
                                                <td class = "px-6 py-4"><%= pokemon_ii_skill.last_pp%> / <%= pokemon_ii_skill.skill.pp %></td>
                                                <td class = "px-6 py-4"><%= render 'attack2', pokemon_ii_skill: pokemon_ii_skill%></td>
                                            </tr>
                                        <% else %>
                                            <tr class = "bg-gray-100">
                                                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"><%= index+1 %></td>
                                                <td class = "px-6 py-4"><%= pokemon_ii_skill.skill.name %></td>
                                                <td class = "px-6 py-4"><%= pokemon_ii_skill.last_pp%> / <%= pokemon_ii_skill.skill.pp %></td>
                                                <td class = "px-6 py-4"><%= render 'attack2', pokemon_ii_skill: pokemon_ii_skill%></td>
                                            </tr>
                                        <% end %>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>            
                    </div>
                <% end %>
            <% elsif  @battle.status == "End" && @battle.winner_id == @battle.pokemon_ii_id && @battle.change_skill ==false %>
                <div>
                    <div class="flex mb-5">
                        <p class="width-fit pokemon-exp-label">exp: 
                        </p>    
                        <p class="pokemon-exp">
                            <%= @pokemon_ii.pokemon_exp%> / <%= @pokemon_ii.pokemon_max_exp%>
                        </p>
                    </div>
                    <h2>Stats</h2>
                    <div class="stats">
                        <div class="flex justify-space-between">
                            <p>Attack</p>
                            <p><%= @battle.pokemon_ii.pokemon_attack%></p>
                        </div>
                        <div class="flex justify-space-between">
                            <p>Defence</p>
                            <p><%= @battle.pokemon_ii.pokemon_defence%></p>
                        </div>
                        <div class="flex justify-space-between">
                            <p>Speed</p>
                            <p><%= @battle.pokemon_ii.pokemon_speed%></p>
                        </div>
                        <div class="flex justify-space-between">
                            <p>Special</p>
                            <p><%= @battle.pokemon_ii.pokemon_special%></p>
                        </div>
                    </div>
                </div>
                <div>
                    <h2 class="text-2xl font-semibold">Skill</h2>
                    <div class="relative overflow-x-auto shadow-md rounded-md mb-5">
                        <table class="w-full border-separate text-sm text-left text-gray-800">
                            <thead class ="text-xs text-gray-700 uppercase bg-gray-400">
                                <tr>
                                    <th scope="col" class="border border-slate-300 px-6 py-3 rounded-tl-md">No</th>
                                    <th scope="col" class="border border-slate-300 px-6 py-3">Skill Name</th>
                                    <th scope="col" class="border border-slate-300 px-6 py-3 rounded-tr-md">PP</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @pokemon_ii_skills.each_with_index do |pokemon_ii_skill, index| %>
                                    <% if index%2==0 %>
                                        <tr class = "bg-white">
                                            <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"><%= index+1 %></td>
                                            <td class = "px-6 py-4"><%= pokemon_ii_skill.skill.name %></td>
                                            <td class = "px-6 py-4"><%= pokemon_ii_skill.last_pp%> / <%= pokemon_ii_skill.skill.pp %></td>
                                        </tr>
                                    <% else %>
                                        <tr class = "bg-gray-100">
                                            <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"><%= index+1 %></td>
                                            <td class = "px-6 py-4"><%= pokemon_ii_skill.skill.name %></td>
                                            <td class = "px-6 py-4"><%= pokemon_ii_skill.last_pp%> / <%= pokemon_ii_skill.skill.pp %></td>
                                        </tr>
                                    <% end %>
                                <% end %>
                            </tbody>
                        </table>
                    </div>         
                </div>
            <% elsif @battle.status == "End" && @battle.change_skill == true%>
                <% if @battle.winner_id == @pokemon_ii.id %>
                    <div>
                        <h2 class="text-2xl font-semibold">Skill</h2>
                        <div class="relative overflow-x-auto shadow-md rounded-md mb-5">
                            <table class="w-full border-separate text-sm text-left text-gray-800">
                                <thead class ="text-xs text-gray-700 uppercase bg-gray-400">
                                    <tr>
                                        <th scope="col" class="border border-slate-300 px-6 py-3 rounded-tl-md">No</th>
                                        <th scope="col" class="border border-slate-300 px-6 py-3">Skill Name</th>
                                        <th scope="col" class="border border-slate-300 px-6 py-3">PP</th>
                                        <th scope="col" class="border border-slate-300 px-6 py-3 rounded-tl-md"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @pokemon_ii_skills.each_with_index do |pokemon_ii_skill, index| %>
                                        <% if index%2==0 %>
                                            <tr class = "bg-white">
                                                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"><%= index+1 %></td>
                                                <td class = "px-6 py-4"><%= pokemon_ii_skill.skill.name %></td>
                                                <td class = "px-6 py-4"><%= pokemon_ii_skill.last_pp%> / <%= pokemon_ii_skill.skill.pp %></td>
                                                <td class = "px-6 py-4"><%= render 'change2', pokemon_ii_skill: pokemon_ii_skill%></td>
                                            </tr>
                                        <% else %>
                                            <tr class = "bg-gray-100">
                                                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"><%= index+1 %></td>
                                                <td class = "px-6 py-4"><%= pokemon_ii_skill.skill.name %></td>
                                                <td class = "px-6 py-4"><%= pokemon_ii_skill.last_pp%> / <%= pokemon_ii_skill.skill.pp %></td>
                                                <td class = "px-6 py-4"><%= render 'change2', pokemon_ii_skill: pokemon_ii_skill%></td>
                                            </tr>
                                        <% end %>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>